		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


		<nav class="navbar navbar-dark ocr_header">
  			<a class="navbar-brand" href="/" style="font-size:16px;"> &nbsp; < &nbsp;宜信OCR技术中心</a>

  			<button class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="icon-camera-retro"></i>
  			</button>
			<a href="/" style="color:#fff" class="fas fa-sign-out-alt">返回</a>
  		</nav>
