<!DOCTYPE html>
<html>
	<head>
		<title>图像识别OCR</title>
         <link rel="stylesheet" href="static/css/common.css">
        <script type="text/javascript" src="static/lib/jquery.min.js"></script>

        <script type="text/javascript" src="static/js/ocr_new_index.js?v=200" ></script>
    </head>

	<body>
	{% include 'includes/_head.html' %}

	<div class="custom-style">
    	<h3 class="title">图像通用识别</h3>
		<div class="card"  align="center" >
  			<div class="card-body form-horizontal"  align="center" >

				<form>
                  <div id="toolbar" class="cs-querylist">
                        <dl>
                           <dt>识别图片:</dt>
                            <input type="hidden" id="file_base64">
                            <dd class="dd-input-margin-right">
    						<input type="file" id="upload_file" name="image" multiple="multiple" />
                            </dd>
                        </dl>
                        <dl>
                            <dt>二值化阈值:</dt>
                            <dd class="dd-input-margin-right">
                                <input name="threshold" type="text"  />
                            </dd>
                        </dl>
                       <dl>
                            <dt>是否纠错矫正：</dt>
                            <dd>
                                <a href="javascript:;" id="correct_true" onclick="queryCorrect(true,this.id);">是</a>
                                <a href="javascript:;" id="correct_false"  onclick="queryCorrect(false,this.id);">否</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>检测模型：</dt>
                            <dd><input type="hidden" id="detect_model" name="detect_model" value=""/>
                                <a href="javascript:;" id="model_psenet" onclick="queryModel('psenet',this.id);">psenet</a>
                                <a href="javascript:;" id="model_ctpn"  onclick="queryModel('ctpn',this.id);">ctpn</a>
                            </dd>
                        </dl>
                     <div class="tx-r  pdt30">
                        <input type="button" value="识别" id="submit_ocr"  class="btn btn-primary"/>
                     </div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <h3 class="title">识别结果</h3>

    <div align="center">
       {# src="data:image/jpg;base64,{{ result['image'] }}"#}
			<img id="big_image"  width="80%">
    </div>
    <div align="center">
        <table id="small_table" border="1" style="min-width:980px;width:80%;margin: 0 auto;">
          <tr>
              <th width="60%">检测小图</th>
              <th width="20%">识别结果</th>
              <th>矫正后结果</th>
          </tr>
        </table>
    </div>
	</body>

</html>