<!DOCTYPE html>
<html>
	<head>
		<title>图像识别OCR</title>
	</head>	
	<body>
	{% include 'includes/_head.html' %}


	<div class="container">
		<h3 class="title">车牌识别测试（车牌检测+号码识别）</h3>
		<div class="card"  align="center" >
  			<div class="card-body"  align="center" >

				<form  action="/plate.post" enctype="multipart/form-data" method="POST">
					<div class="form-group">
						<label>识别图片:</label>
						<input type="file" name="image" multiple="multiple" />
					</div>
					<div class="form-group">
						<input type="submit" value="识别"  class="btn btn-primary"/>
					</div>
				</form>
			</div>
		</div>
		<!--<h3 class="title">车牌探测步骤测试</h3>-->
		<!--<div class="card"  align="center" >-->
  			<!--<div class="card-body"  align="center" >-->

				<!--<form  action="/plate_recognition.post" enctype="multipart/form-data" method="POST">-->
					<!--<div class="form-group">-->
						<!--<label>识别图片:</label>-->
						<!--<input type="file" name="image" multiple="multiple" />-->
					<!--</div>-->
					<!--<div class="form-group">-->
						<!--<input type="submit" value="识别"  class="btn btn-primary"/>-->
					<!--</div>-->
				<!--</form>-->
			<!--</div>-->
		<!--</div>-->
		<h3 class="title">车牌文字识别测试步骤</h3>
		<div class="card"  align="center" >
  			<div class="card-body"  align="center" >

				<form  action="/plate_ocr.post" enctype="multipart/form-data" method="POST">
					<div class="form-group">
						<label>识别图片:</label>
						<input type="file" name="image" multiple="multiple" />
					</div>
					<div class="form-group">
						<input type="submit" value="识别"  class="btn btn-primary"/>
					</div>
				</form>
			</div>
		</div>

	</div>
	</body>
	<!-- <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> -->
	<script type="text/javascript">
	    document.getElementById("upload_file").onchange = function () {
	        gen_base64();
	    };
	    function $_(id) {
	            return document.getElementById(id);
	    }
	    function gen_base64() {
	        var file = $_('upload_file').files[0];
	        r = new FileReader();  //本地预览
	        r.onload = function(){
	            $_('base64_output').value = r.result;
	        }
	        r.readAsDataURL(file);    //Base64
	    }
	</script>
</html>